body {
	text-align: center;
	position: relative;
	/* background-image:url('222.gif');
	background-size: cover; */
}
.container {
    position: fixed;
    left:50%;
    top:50%;
    width: 400px;
    height: 400px;
    margin-left:-200px;
    margin-top:-200px;
    display: flex;
    flex-wrap: nowrap;
	background-color: aliceblue;
}

.row1, .row2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#area1, #area2, #area3, #area4 {
    width: 100%;
    height: 50%;
    background-color: #f0f0f0;
    position: relative;
}
#area1, #area3 {
	border-bottom: 1px solid #000;
}

#area1, #area2 {
	border-right: 1px solid #000;
}

#area2, #area4 {
	border-top: 1px solid #000;
}

#area3, #area4 {
	border-left: 1px solid #000;
}
  .num-input {
    width: 30px;
  }