body {
	text-align: center;
	position: relative;
	background-image:url('111.gif');
	background-size: cover;
}
.container {
    position: fixed;
    left:50%;
    top:35%;
    width: 300px;
    height: 300px;
    margin-left:-150px;
    margin-top:-155px;
    display: flex;
    flex-wrap: nowrap;
}

.controller{
	position: fixed;
    left:50%;
    top:65%;
    margin-left:-100px;
    margin-top:0px;
	line-height: 35px;
}

#action{
	text-align: center;
	position: fixed;
	left:50%;
	top:86%;
	margin-left:-200px;
	margin-top:0px;
}

.row1, .row2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#area1, #area2, #area3, #area4 {
    width: 100%;
    height: 50%;
   background-color: rgba(255,0,0,0.0);
    position: relative;
	line-height：60px;
	letter-spacing: 60px;
}
/* #area1, #area3 {
	border-bottom: 1px solid #acb2b6;
} */

/* #area1 {
	border-right: 1px solid #e6e8ed;
} */

/* #area4 {
	border-top: 1px solid #e6e8ed;
} */

/* #area3, #area4 {
	border-left: 1px solid #acb2b6;
}
  .num-input {
    width: 30px;
  } */
  
#blackboard{
	width: 650px;
	height: 650px;
	position: fixed;
	left: 50%;
	top: 30%;
	margin-left:-325px;
	margin-top:-270px;
}

#chalkline{
	width: 350px;
	height: 15px;
	position: fixed;
	left: 50%;
	top: 30%;
	margin-left:-175px;
	margin-top:25px;
	opacity: 0.8;
}

#chalkline2{
	width: 15px;
	height: 330px;
	position: fixed;
	left: 50%;
	top: 30%;
	margin-left:-11px;
	margin-top:-125px;
	opacity: 0.8;
}

